apiVersion: v1
kind: ConfigMap
metadata:
  name: pg-backup-config
data:
  AWS_S3_ENDPOINT_URL: {{ .Values.config.AWS_S3_ENDPOINT_URL }}
  AWS_S3_BUCKET: {{ .Values.config.AWS_S3_BUCKET }}
  DATABASE_USER: {{ .Values.config.DATABASE_USER }}
  DATABASE_HOSTNAME: {{ .Values.config.DATABASE_HOSTNAME }}
  DATABASE_NAMES: {{ .Values.config.DATABASE_NAMES }}
  DATABASE_PORT: {{ .Values.config.DATABASE_PORT }}
  WEBHOOK_ENDPOINT: {{ .Values.config.WEBHOOK_ENDPOINT }}
  ENABLE_WEBHOOK_ENDPOINT: {{ .Values.config.ENABLE_WEBHOOK_ENDPOINT }}
